{{ template "components/Header" . }}

<div class="h-8"></div>
<div class="w-full h-[240px] relative rounded-xl overflow-hidden">
  <div
    class="flex flex-col justify-end gap-2 z-10 absolute w-full h-full bg-black rounded-xl p-4 bg-opacity-50 transition text-white"
  >
    <p class="font-bold text-2xl mb-10 self-center">{{ .Exhibit.Title }}</p>
    <p class="text-sm">위치: {{ .Exhibit.Location }}</p>
    <p class="">기간: {{ .Exhibit.StartDate }} ~ {{ .Exhibit.EndDate }}</p>
  </div>
  <img
    class="w-full h-full object-cover absolute top-0 left-0 blur-sm z-0 transition"
    src="/image?id={{ .Exhibit.Id }}"
  />
</div>
<div class="flex flex-col gap-12 items-center mt-20 w-full">
  {{ range .Arts }}
  <div class="flex gap-10 flex-col justify-center items-center">
    <img
      src="/image?id={{ .Thumbnail }}"
      class="max-h-[60vh] object-contain group-hover:blur-sm transition drop-shadow-2xl"
    />
    <div class="flex flex-col items-center">
      <a href="/art/{{ .UserId }}/{{ .ArtId }}" class="font-extrabold text-xl">
        {{ .Name }}
      </a>
      <a href="/art/{{ .UserId }}" class="font-extrabold text-xl">
        {{ .UserName }}
      </a>
      <p />
      <p>{{ .Price }} &#8361;</p>
      <p class="text-sm whitespace-pre-wrap">{{ .Description }}</p>
    </div>
    <div class="w-[20vw] bg-gray-500 h-[2px]" />
  </div>
  {{ end }}
</div>
