{{ template "components/Header" . }}

<div class="h-8"></div>
<div class="w-full h-[240px] relative rounded-xl overflow-hidden">
  <div
    class="absolute z-10 flex flex-col justify-end w-full h-full gap-2 p-4 text-white transition bg-black bg-opacity-50 rounded-xl"
  >
    <p class="self-center mb-10 text-2xl font-bold">{{ .Exhibit.Title }}</p>
    <p class="text-sm">위치: {{ .Exhibit.Location }}</p>
    <p class="">기간: {{ .Exhibit.StartDate }} ~ {{ .Exhibit.EndDate }}</p>
  </div>
  <img
    class="absolute top-0 left-0 z-0 object-cover w-full h-full transition blur-sm"
    src="/image?id={{ .Exhibit.Id }}"
  />
</div>
<div class="flex flex-col items-center w-full gap-12 mt-20">
  {{ range .Arts }}
  <div class="flex flex-col items-center justify-center gap-10">
    <img
      src="/image?id={{ .Thumbnail }}"
      class="max-h-[60vh] object-contain group-hover:blur-sm transition drop-shadow-2xl"
    />
    <div class="flex flex-col items-center">
      <a href="/art/{{ .UserId }}/{{ .ArtId }}" class="text-xl font-extrabold">
        {{ .Name }}
      </a>
      <a href="/art/{{ .UserId }}" class="text-xl font-extrabold">
        {{ .UserName }}
      </a>
      <p />
      <p>{{ .Price }} &#8361;</p>
      <p class="text-sm whitespace-pre-wrap">{{ .Description }}</p>
    </div>
    <div class="w-[20vw] bg-gray-500 h-[2px]" />
  </div>
  {{ end }}
</div>
