{{ template "components/Header" . }}

<div class="h-4"></div>
<div class="flex flex-col w-full gap-4">
  <div class="flex flex-col w-full gap-8 p-4">
    {{ range .Exhibits }}
    <a
      class="rounded-xl filter aspect-[5/1] h-[185px] overflow-hidden relative group w-full"
      href="/exhibit/{{ .Id }}"
    >
      <div
        class="absolute z-20 w-8 h-8 text-gray-500 transition bottom-4 right-4 group-hover:text-white"
      ></div>
      <div
        class="absolute z-10 flex flex-col justify-end w-full h-full gap-2 p-4 transition bg-black rounded-xl bg-opacity-20"
      >
        <p class="mb-10 text-2xl font-bold">{{ .Title }}</p>
        <p class="text-sm">위치: {{ .Location }}</p>
        <p class="">기간 : {{ .StartDate }} ~ {{ .EndDate }}</p>
      </div>
      <img
        class="absolute top-0 left-0 z-0 object-cover w-full h-full transition blur-sm group-hover:blur-none"
        src="/image?id={{ .Id }} "
      />
    </a>
    {{ end }}
  </div>
</div>
