[Unit]
Description=Muse Match Server

[Service]
ExecStart=/opt/musematch/server
Restart=always
User=root
WorkingDirectory=/opt/musematch

[Install]
WantedBy=multi-user.target
