[Unit]
Description=Muse Match Server

[Service]
ExecStart=/opt/musematch/server
Restart=always
User=ec2-user
WorkingDirectory=/opt/musematch

[Install]
WantedBy=multi-user.target
