:root {
  --swiper-pagination-bottom: auto;
  --swiper-pagination-top: 0;
  --swiper-pagination-color: #6b7280;
  --swiper-pagination-bullet-inactive-color: #878787;
}

.swiper.imageSwiper {
  overflow-x: clip;
  overflow-y: initial;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.curtain {
  opacity: 20%;
}