{{ template "components/Header" . }}

<div class="h-4"></div>
<div class="flex flex-col items-start w-full gap-4 transition-all" id="inputs">
  <p class="pb-2 text-xl font-bold">프로필 수정하기</p>
  <div class="flex flex-col w-full gap-2 md:flex-row">
    <p class="w-full">헤더 사진</p>
    <div
      class="relative w-full h-20 p-1 pl-2 overflow-hidden border-2 border-transparent rounded-lg md:pl-0 hover:border-neutral-200 bg-neutral-100 dark:bg-neutral-800 hover:dark:border-neutral-700 group"
    >
      <label
        for="headerInput"
        class="absolute top-0 left-0 z-10 items-center justify-center hidden w-full h-full text-black bg-neutral-500 group-hover:flex hover:cursor-pointer"
      >
        <div class="w-7 h-7">
          <img src="/icons/pencil.svg" />
        </div>
      </label>
      <img
        class="object-cover w-full h-full overflow-hidden"
        id="header"
        src="/image?id={{ .User.Id }}"
      />
      <input class="hidden" id="headerInput" type="file" />
    </div>
  </div>
  <div class="flex flex-col w-full gap-2 md:flex-row">
    <p class="w-full">프로필 사진</p>
    <div class="w-full pl-2 md:pl-0">
      <div
        class="relative w-20 h-20 overflow-hidden border-2 border-transparent rounded-full hover:border-neutral-200 bg-neutral-100 dark:bg-neutral-800 hover:dark:border-neutral-700 group"
      >
        <label
          for="pictureInput"
          class="absolute top-0 left-0 z-10 items-center justify-center hidden w-full h-full text-black bg-neutral-500 group-hover:flex hover:cursor-pointer"
        >
          <div class="w-7 h-7">
            <img src="/icons/pencil.svg" />
          </div>
        </label>
        <img
          src="/image?id={{ .User.Id }}"
          id="picture"
          class="object-cover w-full h-full overflow-hidden rounded-full"
        />
        <input class="hidden" id="pictureInput" type="file" />
      </div>
    </div>
  </div>
  <div class="flex flex-col w-full gap-2 md:flex-row">
    <p class="w-full">이름</p>
    <input
      class="w-full p-1 transition border-2 border-transparent rounded-lg outline-none focus:border-neutral-200 bg-neutral-100 dark:bg-neutral-800 focus:dark:border-neutral-700"
      id="name"
      value="{{- .User.Name -}}"
    />
  </div>
  <div class="flex flex-col w-full gap-2 md:flex-row">
    <p class="w-full">소개</p>
    <textarea
      class="w-full p-1 transition border-2 border-transparent rounded-lg outline-none focus:border-neutral-200 bg-neutral-100 dark:bg-neutral-800 focus:dark:border-neutral-700"
      id="description"
    >
      {{- .User.Description -}}
    </textarea>
  </div>
  <div class="flex flex-col w-full gap-2 md:flex-row">
    <p class="w-full">연혁</p>
    <textarea
      class="w-full p-1 transition border-2 border-transparent rounded-lg outline-none focus:border-neutral-200 bg-neutral-100 dark:bg-neutral-800 focus:dark:border-neutral-700"
      id="history"
    >
      {{- .User.History -}}
    </textarea>
  </div>
  <button
    id="submit"
    class="self-end w-full p-1 mb-20 font-bold border-2 border-transparent rounded-lg md:w-fit hover:border-neutral-200 bg-neutral-100 dark:bg-neutral-800 hover:dark:border-neutral-700"
  >
    저장
  </button>
</div>
<script>
  const userId = "{{ .User.Id }}";
  const headerInput = document.getElementById("headerInput");
  const headerImg = document.getElementById("header");
  const pictureInput = document.getElementById("pictureInput");
  const pictureImg = document.getElementById("picture");
  const nameInput = document.getElementById("name");
  const descriptionInput = document.getElementById("description");
  const historyInput = document.getElementById("history");
  const submitButton = document.getElementById("submit");
  const inputs = document.getElementById("inputs");
  let headerFile, pictureFile;

  headerInput.oninput = async (e) => {
    const file = e.target.files[0];
    const fileUrl = URL.createObjectURL(file);
    console.log(pictureInput.querySelector("#header"));
    headerImg.src = fileUrl;
    headerFile = file;
  };

  pictureInput.oninput = async (e) => {
    const file = e.target.files[0];
    const fileUrl = URL.createObjectURL(file);
    pictureImg.src = fileUrl;
    pictureFile = file;
  };

  submit.onclick = async () => {
    inputs.classList.add("curtain");
    const name = nameInput.value;
    const description = descriptionInput.value;
    const history = historyInput.value;

    const res = await fetch("/api/me/profile", {
      method: "POST",
      body: JSON.stringify({
        name,
        description,
        history,
      }),
    });
    const { pictureUrl, headerUrl } = await res.json();

    if (pictureFile) {
      await fetch(pictureUrl, {
        method: "PUT",
        body: pictureFile,
        mode: "cors",
      });
    }
    if (headerFile) {
      await fetch(headerUrl, {
        method: "PUT",
        body: headerFile,
        mode: "cors",
      });
    }
    inputs.classList.remove("curtain");
  };
</script>
