{{ template "components/Header" . }}

<!-- <Images imageUrls="{images}" client:idle /> -->
<div class="flex flex-col gap-[2px] mx-3 my-5 items-start">
  <h2 class="text-2xl font-extrabold">{{ .Art.Name }}</h2>
  <a href="/art/{{ .Artist.Id }}" class="mb-5 text-xl font-bold">
    {{ .Artist.Name }}
  </a>
  <p class="whitespace-pre-line">{{ .Art.Description }}</p>
</div>
{{if .IsMyArt }}
<div class="flex self-end gap-4">
  <!-- <ArtDeleteButton artId="{artId}" client:load />
  <ArtEditButton artId="{artId}" client:load /> -->
</div>
{{ end }}
<div class="flex items-end self-end gap-4">
  <p>구매문의 010-6351-4161</p>
  <!-- <Qrcode useCurrent="{true}" url="" client:load /> -->
</div>
