{{ template "components/Header" . }}

<div class="h-8"></div>
{{ template "components/ImageCarousel" . }}
<div class="h-8"></div>
<div class="flex flex-col gap-[2px] mx-3 my-5 items-start">
  <h2 class="text-2xl font-extrabold">{{ .Art.Name }}</h2>
  <a href="/art/{{ .Artist.Id }}" class="mb-5 text-xl font-bold">
    {{ .Artist.Name }}
  </a>
  <p class="whitespace-pre-line">{{ .Art.Description }}</p>
</div>
{{if .IsMyArt }}
<div class="flex self-end gap-4">
  <a class="p-1 rounded-full border-[1px]" href="/art/{{ .Art.Id }}/update">
    수정하기
  </a>
</div>
{{ end }}
<div class="flex items-end self-end gap-4">
  <p>구매문의 010-6351-4161</p>
  <div class="flex flex-col self-end gap-2">
    <div class="w-20 h-20">
      <img src="/qr?url=https://musematch.app/art/{{ .Artist.Id }}/{{ .Art.Id }}" />
    </div>
  </div>
</div>
