{{ template "components/Header" .Header }}

<div class="flex flex-col w-full">
  <div class="h-4"></div>



  <div class="h-4"></div>
  <p class="text-xl font-bold">작품 추가하기</p>
  <div class="h-4"></div>
  <div class="relative flex flex-col w-full gap-4">
    <div class="flex w-full">
      <p class="w-1/4 text-lg font-bold">제목</p>
      <input
        class="w-3/4 p-1 transition border-2 border-transparent rounded-lg outline-none focus:border-neutral-200 bg-neutral-100 dark:bg-neutral-800 focus:dark:border-neutral-700"
      />
    </div>
    <div class="flex w-full">
      <p class="w-1/4 text-lg font-bold">설명</p>
      <textarea
        class="w-3/4 p-1 transition border-2 border-transparent rounded-lg outline-none focus:border-neutral-200 focus:bg-neutral-100 dark:bg-neutral-800 focus:dark:border-neutral-700"
        type="text"
      ></textarea>
    </div>
  </div>
</div>
