{{ template "components/Header" . }}

<div class="flex flex-col w-full">
  <div class="h-4"></div>
  <p class="text-xl font-bold">작품 수정하기</p>
  <div class="h-4"></div>
  <div
    class="flex flex-col items-center flex-1 gap-8 transition-all md:items-start md:flex-row"
    id="inputs"
  >
    <input type="file" class="hidden" id="imageInput" />
    <div class="flex flex-col w-full max-w-[580px] gap-4 bg-transparent">
      <p class="text-lg font-bold">작품사진</p>
      <div
        class="w-full h-[400px] bg-neutral-100 dark:bg-neutral-800 rounded-2xl"
      >
        <img
          src="/icons/image.svg"
          id="image"
          class="object-contain w-full h-full border-none outline-none rounded-2xl"
        />
      </div>
      <div
        id="imageList"
        class="w-full flex-1 overflow-x-scroll flex bg-neutral-100 dark:bg-neutral-800 rounded-2xl items-center p-[10px] gap-[10px]"
      >
        <button class="flex-shrink-0 w-20 h-20">
          <label class="w-full h-full" id="addImage" for="imageInput">
            <img src="/icons/plus.svg" class="w-full h-full p-6 dark:invert" />
          </label>
        </button>
      </div>
    </div>
    <div class="relative flex flex-col w-full gap-4">
      <div class="flex flex-col w-full gap-2">
        <p class="text-lg font-bold">제목</p>
        <input
          class="w-full p-1 transition border-2 border-transparent rounded-lg outline-none focus:border-neutral-200 bg-neutral-100 dark:bg-neutral-800 focus:dark:border-neutral-700"
          id="title"
          value="{{ .Art.Name }}"
        />
      </div>
      <div class="flex flex-col w-full gap-2">
        <p class="text-lg font-bold">설명</p>
        <textarea
          class="w-full p-1 transition border-2 border-transparent rounded-lg outline-none focus:border-neutral-200 bg-neutral-100 dark:bg-neutral-800 focus:dark:border-neutral-700"
          type="text"
          id="desc"
        >
        {{- .Art.Description -}}
        </textarea>
      </div>
      <button
        id="submit"
        class="self-end w-full p-1 mb-20 font-bold border-2 border-transparent rounded-lg md:w-fit hover:border-neutral-200 bg-neutral-100 dark:bg-neutral-800 hover:dark:border-neutral-700"
      >
        등록
      </button>
    </div>
  </div>
</div>

<button
  class="relative flex-shrink-0 hidden w-20 h-20"
  id="imageButtonTemplate"
>
  <div class="absolute z-10 top-1 right-1" id="remove">
    <img
      src="/icons/remove.svg"
      class="w-4 h-4 p-[1px] rounded-full bg-neutral-500"
    />
  </div>
  <img src="" class="object-cover w-full h-full rounded-lg" id="image" />
</button>

<script>
  let selectedImage = undefined;

  const imagePane = document.getElementById("images");
  const infoPane = document.getElementById("infos");
  const imageButtonTemplate = document.getElementById("imageButtonTemplate");
  const imageButtonList = document.getElementById("imageList");
  const imageInput = document.getElementById("imageInput");
  const imagePreview = document.getElementById("image");
  let imageList = [];

  // push server rendered images to imageList

  imageInput.onchange = (e) => {
    const file = e.target.files[0];
    const url = URL.createObjectURL(file);
    imageInput.value = "";
    imagePreview.src = url;
    imageList.push(file);
    createImageButton(file);
  };

  function createImageButton(file) {
    const url = URL.createObjectURL(file);
    const imageButton = imageButtonTemplate.cloneNode(true);
    const image = imageButton.querySelector("#image");
    const removeButton = imageButton.querySelector("#remove");

    imageButton.onclick = () => {
      imagePreview.src = url;
    };

    removeButton.onclick = (e) => {
      e.stopPropagation();
      imageList = imageList.filter((i) => i !== file);
      imagePreview.src =
        imageList.length > 0
          ? imageList[imageList.length - 1]
          : "/icons/image.svg";
      imageButtonList.removeChild(imageButton);
    };

    imageButton.classList.remove("hidden");
    image.src = url;
    imageButtonList.appendChild(imageButton);
  }

  const submitButton = document.getElementById("submit");
  const inputs = document.getElementById("inputs");
  const titleInput = document.getElementById("title");
  const descInput = document.getElementById("desc");
  submitButton.onclick = async () => {
    inputs.classList.add("curtain");
    const body = {
      title: titleInput.value,
      description: descInput.value,
      imageCount: imageList.length,
    };
    console.log(body);
    const res = await fetch("/api/art", {
      method: "POST",
      body: JSON.stringify(body),
    });

    const data = await res.json();
    console.log(data);

    await Promise.all(
      data.uploadUrls.map(async (url, idx) => {
        return await fetch(url, {
          method: "PUT",
          body: imageList[idx],
        });
      })
    );

    inputs.classList.remove("curtain");
  };
</script>
