package pages

import "musematch/views"
import "musematch/views/components"
import "musematch/models"

templ Main(title string, user *models.User) {
	@views.Layout(title) {
		@components.Header(user)
	}
}
