{{ template "components/Header" .Header }}

<div class="h-8"></div>
<img
  class="w-full rounded-lg top-0 left-0 h-[240px] object-cover -z-10 bg-gradient-to-b"
  src="/image?id=header-{{.User.Id}}"
/>
<div class="relative w-full">
  <img
    src="{{.User.Picture}}"
    class="h-20 w-20 absolute -top-10 left-4 rounded-full border-2 border-black dark:border-white p-[1px] object-cover"
  />
  <div class="flex flex-wrap justify-end w-full h-8 gap-4 mt-2 pl-28">
    {{ if .IsMyProfile }}
    <a href="/art/new" class="rounded-full border-[1px] px-2 py-1 btn">
      작품 추가하기
    </a>
    <a href="/me/profile" class="rounded-full border-[1px] px-2 py-1 btn">
      프로필 수정하기
    </a>
    {{ end }}
  </div>
</div>
<div class="flex flex-col w-full px-4 mt-4">
  <div class="mb-2 text-2xl font-bold">{{ .User.Name }}</div>
  <div class="flex flex-col gap-2">
    <div class="flex gap-4">
      <button id="descriptionButton">소개</button>
      <button id="historyButton" class="text-gray-500">연혁</button>
    </div>
    <p class="whitespace-pre-wrap" id="description">
      {{- .User.Description -}}
    </p>
    <p class="hidden whitespace-pre-wrap" id="history">{{- .User.History -}}</p>
  </div>
  <script>
    const descriptionButton = document.getElementById("descriptionButton");
    const historyButton = document.getElementById("historyButton");
    const descriptionContent = document.getElementById("description");
    const historyContent = document.getElementById("history");

    descriptionButton.onclick = () => {
      descriptionContent.classList.remove("hidden");
      descriptionButton.classList.remove("text-gray-500");
      historyContent.classList.add("hidden");
      historyButton.classList.add("text-gray-500");
    };

    historyButton.onclick = () => {
      descriptionContent.classList.add("hidden");
      descriptionButton.classList.add("text-gray-500");
      historyContent.classList.remove("hidden");
      historyButton.classList.remove("text-gray-500");
    };
  </script>
  <div class="relative w-full">
    <p class="mt-10 text-lg font-bold">작품 목록</p>
    <div class="flex flex-col items-center gap-40 mt-20">
      {{ range .Arts }}
      <div class="flex flex-col justify-center gap-10">
        <img
          src="/image?id={{ .Thumbnail }}"
          class="max-h-[80vh] object-contain group-hover:blur-sm transition drop-shadow-2xl"
        />
        <div class="flex flex-col items-center">
          <a
            href="/art/{{ $.User.Id }}/{{ .Id }}"
            class="text-xl font-extrabold"
          >
            {{ .Name }}
          </a>
          <p />
          {{ if .Price }}
          <p>{{ .Price }} &#8361;</p>
          {{ else }}
          <p>가격 미정</p>
          {{ end }}
          <p class="text-sm whitespace-pre-wrap">{{ .Description }}</p>
        </div>
      </div>
      <div class="w-[20vw] bg-gray-500 h-[2px]"></div>
      {{ end }}
    </div>
  </div>
</div>
